body {
    font-family: Arial, sans-serif;
    background: #282C35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #81b64c;
    outline: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #7abf67;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #35b54f;
}
